<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="style.css">
        <title>iSpend(?)</title>
    </head>
    <div id="app">
        <v-app>
            <v-content>
                <v-toolbar flat color="deep-purple lighten-3">
                    <v-toolbar-title @click="page = 'home'">
                        <v-icon left>menu</v-icon>
                        iSpend
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn flat @click="page = 'sign_in'">Sign In</v-btn>
                        <v-btn flat @click="page = 'sign_up'">Sign Up</v-btn>
                        <v-btn flat @click="page='home'">Home</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <!-- Start of pages -->
                
                <v-container fluid>
                    <v-layout v-if="page == 'sign_up'" mt-3>
                        <v-flex xs2 text-xs-center></v-flex>
                        <v-flex xs8>
                            <v-flex xs12 sm6 md3>
                                <v-text-field
                                    label="Name"
                                    placeholder="John Doe"
                                ></v-text-field>
                            </v-flex>
    
                            <v-flex xs12 sm6 md3>
                                <v-text-field
                                    label="Email"
                                    placeholder="blah@blah.com"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6 md3>
                                <v-text-field
                                    label="Password"
                                    placeholder="***********"
                                ></v-text-field>
                            </v-flex>

                            <v-checkbox
                                label="Accept Terms and Conditions">
                            </v-checkbox>

                            <v-btn>Submit</v-btn>
                        </v-flex>
                        <v-flex xs2 text-xs-center></v-flex>
                    </v-layout>
                    
<!--                    Goals   -->
                    
                    <v-container fluid v-if="page == 'home'">
                    <v-layout>
                        <v-card width="500" class="mx-auto" color="deep-purple lighten-4">
                            <v-toolbar dark color="deep-purple lighten-2 font-weight-bold">
                                <v-toolbar-title>
                                    Goals
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>

                                    <v-btn flat @click="addingNewGoal=true">
                                        <svg dark style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="#ffffff" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                                        </svg>
                                    </v-btn>
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-card-text flat>
<!--                       changed a lot here lol-->
                                    <span v-if='goals.length==0'>
                                            You don't currently have anything to look forward to. Make a new goal to add some purpose to your life!
                                    </span>
                                    <v-list v-if="goals.length != 0">
                                        <v-list-tile v-for="(item, index) in goals">
                                            <v-list-tile-content>
                                                <v-list-tile-title class="headline title">

                                                    <v-btn flat class="editButton" @click='editingGoal=true; itemIndex = index' ><v-icon>edit</v-icon>
                                                    </v-btn >

                                                    <span v-if="goals.length != 0" >{{keepGoalIndex(item.goal)}}</span>
                                                </v-list-tile-title>
                                                </v-list-tile-content>
                                                <v-list-tile-action>
                                                    <v-btn @click="completedGoal(index)">
                                                        <v-icon>check</v-icon>
                                                    </v-btn>
                                                </v-list-tile-action>
                                        </v-list-tile> 
                                    </v-list>
                            </v-card-text> 
                        </v-card>
<!--
                        
                        Upcoming Payments 
-->
                        
                        <v-card width="500" class="mx-auto" color="deep-purple lighten-4">
                            <v-toolbar dark color="deep-purple lighten-2 font-weight-bold">
                                <v-toolbar-title>
                                    Upcoming Payments
                                </v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>

                                    <v-btn @click='addingUpcomingPayment=true' flat>
                                        <svg dark style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="#ffffff" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                                        </svg>
                                    </v-btn>
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-card-text flat>
                                    <v-list two-line>
                                        <span v-if='bills.length==0'>
                                                You don't currently have any upcoming payments. Add a payment to track your bills.
                                        </span>

                                        <v-list-tile v-if="bills.length != 0" v-for="(item, index) in bills">
                                            <v-list-tile-content>

                                                <v-list-tile-title class="headline title">
                                                    <v-btn flat class="editButton"@click='editingPayments=true; itemIndex = index'>
                                                    <v-icon class="editIcon">edit</v-icon>
                                                    </v-btn> 
                                                    <span  v-if="goals.length != 0">{{keepPaymentIndex(item.billName)}}</span>
                                                </v-list-tile-title>  
                                                </v-list-tile-content>
                                                <v-list-tile-action>
                                                    <v-checkbox
                                                      label="paid"
                                                      color="success"
                                                      value="paid"
                                                      hide-details
                                                    ></v-checkbox>
                                                    <div>
                                                        Due: {{item.dueDate}} Amount: {{item.amount}}
                                                    </div>
                                                </v-list-tile-action>
                                        </v-list-tile> 
                                    </v-list>
                            </v-card-text>
                        </v-card>
                    </v-layout>
                        
                        <!--    New Goal Form -->
                
                        <v-layout>
                            <div>
                                <v-dialog v-model="addingNewGoal">

                                    <v-card>
                                        <v-card-title>
                                          <span class="headline">Enter a New Goal</span>
                                        </v-card-title>
                                        <v-card-text>
                                          <v-container grid-list-md>
                                            <v-layout wrap>
                                              <v-flex xs12>
                                                <v-text-field label="Goal Name*" required></v-text-field>
                                              </v-flex>
                                              <v-flex xs12>

                                                <v-textarea label="Description"
                                                name='description'></v-textarea>
                                              </v-flex>
                                              <v-flex xs12>
                                                <v-checkbox
                                                      label="Does this goal have a deadline?"
                                                      color="deep-purple lighten-1"
                                                      value="isdeadline"
                                                      hide-details
                                                      v-model="isDeadline"
    
                                                ></v-checkbox>
                                              </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="isDeadline">
                                                    <v-select
                                                      :items="month"
                                                      label="Month*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="isDeadline">
                                                    <v-select
                                                      :items="day"
                                                      label="Day*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="isDeadline">
                                                    <v-select
                                                      :items="year"
                                                      label="Year*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                            </v-layout>
                                          </v-container>
                                          <small>*indicates required field</small>
                                        </v-card-text>
                                        <v-card-actions>
                                          <v-spacer></v-spacer>
                                          <v-btn @click="addingNewGoal=false" color="deep-purple lighten-1" flat @click="dialog = false">Close</v-btn>
                                          <v-btn color="deep-purple lighten-1" flat>Save</v-btn>
                                        </v-card-actions>
                                      </v-card>
                                    </v-dialog>
                                </div>
                        </v-layout>
<!--                            Editing Goal Form-->
                            
                            <div>
                                <v-dialog v-model="editingGoal">
                                    <v-card>
                                        <v-card-title>
                                          <span class="headline">Edit Goal</span>
                                        </v-card-title>
                                        <v-card-text>
                                          <v-container grid-list-md>
                                            <v-layout wrap>
                                              <v-flex xs12>
                                                  
<!--                      changed v-models for description and goal name-->

                                                <v-text-field label="Goal Name*" required
                                                v-model="getGoal(itemIndex)"></v-text-field>
                                              </v-flex>
                                              <v-flex xs12>
                                                <v-textarea 
                                                label="Description"
                                                name="description"
                                                v-model="getGoalDescription(itemIndex)"></v-textarea>
                                              </v-flex>
                                              <v-flex xs12>
                                                <v-checkbox
                                                      label="Change the dealine?"
                                                      color="deep-purple lighten-1"
                                                      value="isdeadline"
                                                      hide-details
                                                      v-model="isDeadline"
    
                                                ></v-checkbox>
                                              </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="isDeadline">
                                                    <v-select
                                                      :items="month"
                                                      label="Month*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="isDeadline">
                                                    <v-select
                                                      :items="day"
                                                      label="Day*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="isDeadline">
                                                    <v-select
                                                      :items="year"
                                                      label="Year*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                            </v-layout>
                                          </v-container>
                                          <small>*indicates required field</small>
                                        </v-card-text>
                                        <v-card-actions>
                                          <v-spacer></v-spacer>
                                          <v-btn @click="editingGoal=false" color="deep-purple lighten-1" flat @click="dialog = false">Close</v-btn>
                                          <v-btn color="deep-purple lighten-1" flat>Save</v-btn>
                                        </v-card-actions>
                                      </v-card>
                                </v-dialog>
                                </div>
             <!--    New Upcoming Payment Form -->
                
                        <v-layout>
                            <div>
                                <v-dialog v-model="addingUpcomingPayment" max-width='600px'>

                                    <v-card>
                                        <v-card-title>
                                          <span class="headline">Enter a New Upcoming Payment</span>
                                        </v-card-title>
                                        <v-card-text>
                                          <v-container grid-list-md>
                                            <v-layout wrap>
                                              <v-flex xs12>
                                                <v-text-field label="Payment Name*" required></v-text-field>
                                              </v-flex>
                                              <v-flex xs12>

                                                <v-textarea label="Description"
                                                name='description'></v-textarea>
                                              </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-select
                                                      :items="month"
                                                      label="Month*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-select
                                                      :items="day"
                                                      label="Day*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4>
                                                    <v-select
                                                      :items="year"
                                                      label="Year*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                            </v-layout>
                                          </v-container>
                                          <small>*indicates required field</small>
                                        </v-card-text>
                                        <v-card-actions>
                                          <v-spacer></v-spacer>
                                          <v-btn @click="addingUpcomingPayment=false" color="deep-purple lighten-1" flat @click="dialog = false">Close</v-btn>
                                          <v-btn color="deep-purple lighten-1" flat>Save</v-btn>
                                        </v-card-actions>
                                      </v-card>
                                    </v-dialog>
                                </div>
<!--                            Editing Payments Form-->
                            
                            <div>
                                <v-dialog v-model="editingPayments">
                                    <v-card>
                                        <v-card-title>
                                          <span class="headline">Edit Payment</span>
                                        </v-card-title>
                                        <v-card-text>
                                          <v-container grid-list-md>
                                            <v-layout wrap>
                                              <v-flex xs12>
                                                <v-text-field label="Payment Name*" required
                                                v-model="bills[itemIndex].billName"></v-text-field>
                                              </v-flex>
                                              <v-flex xs12>
                                                <v-textarea 
                                                label="Description"
                                                name="description"
                                                v-model="bills[itemIndex].description"></v-textarea>
                                              </v-flex>
                                              <v-flex xs12>
                                                <v-checkbox
                                                      label="Change the due date?"
                                                      color="deep-purple lighten-1"
                                                      value="changeduedate"
                                                      hide-details
                                                      v-model="changeDueDate"
    
                                                ></v-checkbox>
                                              </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="changeDueDate">
                                                    <v-select
                                                      :items="month"
                                                      label="Month*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="changeDueDate">
                                                    <v-select
                                                      :items="day"
                                                      label="Day*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                                <v-flex xs12 sm6 md4 v-if="changeDueDate">
                                                    <v-select
                                                      :items="year"
                                                      label="Year*"
                                                      required
                                                    ></v-select>
                                                  </v-flex>
                                            </v-layout>
                                          </v-container>
                                          <small>*indicates required field</small>
                                        </v-card-text>
                                        <v-card-actions>
                                          <v-spacer></v-spacer>
                                          <v-btn @click="editingPayments=false" color="deep-purple lighten-1" flat @click="dialog = false">Close</v-btn>
                                          <v-btn color="deep-purple lighten-1" flat>Save</v-btn>
                                        </v-card-actions>
                                      </v-card>
                                </v-dialog>
                                </div>
                            </v-layout>
                    </v-container>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="code.js"></script>
    </html>